@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>BookWorld</h1>
        <p class="lead">
            Welcome Admin!
        </p>
        @Html.ActionLink("Learn more >>", "About", "Home", null, new { @class = "btn btn-primary" })
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>
            The library holds a collection of several kinds of books. Feel Free to add, or update to the database.
        </p>
        @Html.ActionLink("Books >>", "Index", "Books", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Members</h2>
        <p>
            For a person to access our library, they must become a registered member.
            Click here to add someone as a member, or edit
            their current members
        </p>
        @Html.ActionLink("Members >>", "Index", "Members", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Rentals</h2>
        <p>
            Registered members may rent one or more of the books in our collection. Click here to fill out a rental form on their behalf.
            Make sure to check to books' availability!
        </p>
        @Html.ActionLink("Rentals >>", "New", "Rentals", null, new { @class = "btn btn-primary" })
    </div>
</div>