@model IEnumerable<BookWorld.Models.Member>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>
<p>
    @Html.ActionLink("New Member", "New", "Members", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Member</th>
            <th>Membership Type</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@Html.ActionLink(member.Name, "Edit", "Members", new {id = member.Id}, null)</td>
                <td>@member.MembershipType.Name</td>
            </tr>
        }
    </tbody>
    </table>

